abind
data.table
checkmate
deepG
future.apply
ggplot2
glmnet
hdf5r
keras
magrittr
mlr3
mlr3learners
purrr
readr
reticulate
Rtsne
stringr
tensorflow
tfdatasets
tfautograph
viridis
